<ion-app>
  <ion-header style="height: 8%; font-weight: 600;">
    <ion-row style="background-color: #3A5FCD; height: 100%; color:white; display: flex; align-items: center;">
      <ion-col size="1" style="padding-left: 3%;" [routerLink]="['/principal']">
        <ion-icon style="font-size: 1.2em;" name="arrow-back-sharp"></ion-icon>
      </ion-col>
      <ion-col size="11" style="text-align: center; font-size: 1em;">
        Autenticidade da CNH
      </ion-col>
    </ion-row>
  </ion-header>

  <ion-content class="ion-padding">
    <div *ngIf="!hasClienteResponse">
      <p style="font-size: 0.8em;">
        Preencha os dados abaixo para confirmar a autenticidade da Carteira
        Nacional de Habilitação - CNH (se ela apresenta os mesmos dados que
        constam na base do Detran.SP).
      </p>
      
      <p style="font-size: 0.8em;">
        Serviço válido apenas para as CNHs emitidas pelo Detran.SP,
        e sempre será validada a útima emissão do documento.
      </p>

      <p style="font-size: 0.8em; color: #dedede;">
        *Limite diário de 5 consultas
      </p>
    
      <ion-item>
        <ion-label style="color: #BEBEBE;" position="floating">CPF*</ion-label>
        <ion-input [(ngModel)]="cpf" [brmasker]="{mask:'000.000.000-00', len:14, userCaracters: true}"></ion-input>
      </ion-item>
      <small style="color: red; padding-left: 7%">{{ errorValidationCpf }}</small>
      
      <ion-item>
        <ion-label style="color: #BEBEBE;" position="floating">Documento de identificação*</ion-label>
        <ion-input [(ngModel)]="identificacao"></ion-input>
      </ion-item>
      <small *ngIf="identificacao != null" style="color: red; padding-left: 7%">{{ errorValidationIdentificacao }}</small>
      
      <ion-item>
        <ion-label style="color: #BEBEBE;" position="floating">Data de nascimento*</ion-label>
        <ion-input [(ngModel)]="dataNascimento"></ion-input>
      </ion-item>
      <small *ngIf="dataNascimento != null" style="color: red; padding-left: 7%">{{ errorValidationDataNascimento }}</small>

      <ion-item>
        <ion-label style="color: #BEBEBE;" position="floating">Nº de registro da CNH*</ion-label>
        <ion-input [(ngModel)]="numeroRegistroCnh"></ion-input>
      </ion-item>
      <small *ngIf="numeroRegistroCnh != null" style="color: red; padding-left: 7%">{{ errorValidationNumeroRegistroCnh }}</small>

      <ion-item>
        <ion-label style="color: #BEBEBE;" position="floating">Renach*</ion-label>
        <ion-input [(ngModel)]="renach"></ion-input>
      </ion-item>
      <small *ngIf="renach != null" style="color: red; padding-left: 7%">{{ errorValidationRenach }}</small>

      <ion-item>
        <ion-label style="color: #BEBEBE;" position="floating">Nº do espelho da CNH*</ion-label>
        <ion-input [(ngModel)]="numeroEspelhoCnh"></ion-input>
      </ion-item>
      <small *ngIf="numeroEspelhoCnh != null" style="color: red; padding-left: 7%">{{ errorValidationNumeroEspelhoCnh }}</small>
      <br><br>
      <ion-button style="font-weight: 600;" expand="block" (click)="consultarAutenticidade()">CONSULTAR</ion-button>
    </div>

    <!----resultado de consulta---->
    <div *ngIf="hasClienteResponse">
      <ion-row style="font-size: 0.8em;">
        <ion-col size="12" style="padding: 0px 2% 2% 2%;">
          <ion-img style="height: 80px; width: 100%;" src="../assets/icone_agenda_carro.jpg"></ion-img>
        </ion-col>
        <ion-col size="11" style="padding: 5% 3% 3% 3%;">
          <span style="font-weight: 700;">CPF:</span> {{cliente.cpf}}
        </ion-col>
        <ion-col size="11" style="padding: 0% 3% 3% 3%;">
          <span style="font-weight: 700;">RG:</span> {{cliente.rg}}
        </ion-col>
        <ion-col size="11" style="padding: 0% 3% 3% 3%;">
          <span style="font-weight: 700;">Data de nascimento:</span> {{cliente.dataNascimento | date: 'dd/MM/yyyy'}}
        </ion-col>
        <ion-col size="11" style="padding: 0% 3% 3% 3%;">
          <span style="font-weight: 700;">Nº do espelho da CNH:</span> {{cliente.espelhoCnh}}
        </ion-col>
        <ion-col size="11" style="padding: 0% 3% 3% 3%;">
          <span style="font-weight: 700;">Data de emissão:</span> {{cliente.dataAutorizacaoEmissao | date: 'dd/MM/yyyy'}}
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" style="padding: 8% 2% 2% 8%;">
          <p style="font-weight: 700; color: #00EE00">
            CNH verdadeira! Dados informados são os mesmos que constam
            na base do Dentra.SP
          </p>
        </ion-col>
      </ion-row>

    </div>
   <!---- resultado de consulta---->

  </ion-content>
</ion-app>
