<ion-app>
  <ion-content class="ion-padding">
    <!--------------menu-------------->
    <ion-menu side="start" content-id="main-content">
      <ion-header>
        <ion-row style=" height: 100px; color:white; display: flex; align-items: center;">
          <ion-col size="12" style="padding: 0px;">
            <ion-img style="width: 100%; height: 90%;" src="../assets/icone_logo_menu.jpg"></ion-img>
          </ion-col>
        </ion-row>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-icon name="mail" slot="start"></ion-icon>
            <ion-label>Inbox</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="paper-plane" slot="start"></ion-icon>
            <ion-label>Outbox</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="heart" slot="start"></ion-icon>
            <ion-label>Favorites</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="archive" slot="start"></ion-icon>
            <ion-label>Archived</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="trash" slot="start"></ion-icon>
            <ion-label>Trash</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="warning" slot="start"></ion-icon>
            <ion-label>Spam</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
          </ion-buttons>
          <ion-title>Inbox</ion-title>
        </ion-toolbar>
      </ion-header>
    </div>
    <!----------fim menu-------------->

    <ion-row style="padding-top: 22px;">
      <ion-col size="6">
        <ion-img  style="padding: 10px;" src="../assets/icone_meus_veiculos.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px 10px 0px 10p; height: 156px;" src="../assets/icone_outros_veiculos.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px" src="../assets/icone_outros_veiculos.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px 10px 0px 10px; height: 142px;" src="../assets/icone_segunda_via_cnh.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px" src="../assets/icone_agenda_carro.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px;" src="../assets/icone_pesquisa_pecas_usadas.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px;" src="../assets/icone_meus_pedidos.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px 10px 0px 10px;height: 162px;" src="../assets/icone_pesquisa_ecv.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px; " src="../assets/icone_autenticidade_certidao.jpg"></ion-img>
      </ion-col>
      <ion-col size="6" [routerLink]="['/autenticidade-cnh']">
        <ion-img style="padding: 10px 10px 0px 10px; height: 190px;" src="../assets/icone_autenticidade_cnh.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>