<ion-app>
  <ion-content class="ion-padding">
    <!--------------menu-------------->
    <app-menu></app-menu>
    <!----------fim menu-------------->

    <ion-row style="padding-top: 40px;">
      <ion-col size="6">
        <ion-img  style="padding: 10px;" src="../assets/icone_meus_veiculos.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px 10px 0px 10p; height: 156px; margin-top: 10px;" src="../assets/icone_outros_veiculos.jpg"></ion-img>
      </ion-col>
      <ion-col size="6" [routerLink]="['/login']">
        <ion-img style="padding: 10px" src="../assets/icone_pontos_cnh.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px" src="../assets/icone_outros_veiculos.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px 10px 0px 10px; height: 142px;" src="../assets/icone_segunda_via_cnh.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px" src="../assets/icone_agenda_carro.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px;" src="../assets/icone_pesquisa_pecas_usadas.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px;" src="../assets/icone_meus_pedidos.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px 10px 0px 10px;height: 162px;" src="../assets/icone_pesquisa_ecv.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px; " src="../assets/icone_autenticidade_certidao.jpg"></ion-img>
      </ion-col>
      <ion-col size="6" [routerLink]="['/autenticidade-cnh']">
        <ion-img style="padding: 10px 10px 0px 10px; height: 190px;" src="../assets/icone_autenticidade_cnh.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>