<ion-app>
  <ion-content class="ion-padding">
    <ion-row>
      <ion-col size="6">
        <ion-img  style="padding: 10px; box-shadow: 2px 5px 10px #dedede; border-radius: 5px;" src="../assets/icone_meus_veiculos.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px 10px 0px 10px; box-shadow: 2px 5px 10px #dedede; border-radius: 5px; height: 156px;" src="../assets/icone_outros_veiculos.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px; box-shadow: 2px 5px 10px #dedede; border-radius: 5px;" src="../assets/icone_outros_veiculos.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px 10px 0px 10px; box-shadow: 2px 5px 10px #dedede; border-radius: 5px; height: 142px;" src="../assets/icone_segunda_via_cnh.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px; box-shadow: 2px 5px 10px #dedede; border-radius: 5px;" src="../assets/icone_agenda_carro.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px; box-shadow: 2px 5px 10px #dedede; border-radius: 5px;" src="../assets/icone_pesquisa_pecas_usadas.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px; box-shadow: 2px 5px 10px #dedede; border-radius: 5px;" src="../assets/icone_meus_pedidos.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px 10px 0px 10px; box-shadow: 2px 5px 10px #dedede; border-radius: 5px; height: 162px;" src="../assets/icone_pesquisa_ecv.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px; box-shadow: 2px 5px 10px #dedede; border-radius: 5px;" src="../assets/icone_autenticidade_certidao.jpg"></ion-img>
      </ion-col>
      <ion-col size="6">
        <ion-img style="padding: 10px 10px 0px 10px; box-shadow: 2px 5px 10px #dedede; border-radius: 5px; height: 177px;" src="../assets/icone_autenticidade_cnh.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>